.container{
  font: sans-serif;
  float: left;
  height: 100%;
  width: 80%;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
  background: none repeat scroll 0 0 #f0f0f0;
  position: inherit;
}
.row{
  float: left;
  width: 100%;
  margin: 0px;
  clear:both;
}
one: first-child,two: first-child,three: first-child,four: first-child,five: first-child,six: first-child{
  margin-left:0px;
}
.one{
  float:left;
  width:16.66%;
  margin-left:0px;
}
.two{
  float: left;
  width: 33.33%;
  margin-left: 0px;
}
.three{
  float: left;
  width: 50%;
  margin-left: 0px;
}
.four{
  float: left;
  width: 66.66%;
  margin-left: 0px;
}
.five{
  float: left;
  width: 83.30%;
  margin-left: 0px;
}
.six{
  float: left;
  width: 100%;
  margin-left: 0px;
}
nav{
  padding-top: 10px;
}
