.mn{
  margin: auto;
  text-align: left;
  width: 600px;
  height: auto;;
}
blockquote{
  border: 1px solid white;
  text-align: center;
  padding: 15px 15px 15px 15px;
}
body{
  background-color: #e3e3e3;
}
